:root {
  --whitecolor-1: #ffffff;
  --greencolor-1: #c9f8a6;
  --greencolor-2: #2e7c16;
  --graycolor-1: #f5f5f5;
  --graycolor-2: #c2c2c2;
  --graycolor-3: #dbdbdb;
  --graycolor-4: #dddddd;
  --blackcolor-1: #000000;
  --blackcolor-1: #292929;
}

/*
https://xpcorp.gama.academy/assets/challenge-icon-bed49b4a49e87aae4d557fa84c62626b78cea0662aa93eb4a804eac9e1d59ad0.png
https://xpcorp.gama.academy/assets/videoplayer-icon-487b72ce28fd0f9a2daf36a931087fb6d6bd59363b82606d292323096096ccdd.png
https://xpcorp.gama.academy/assets/squads-icon-9f84a83bae8ba85df248809db8d830259919bde74991853f544781ed29197a7f.png
https://xpcorp.gama.academy/assets/360-icon-d0a62c538982af6d1b943974d74e3650a6eacee4064dd83f1d34570a7fb3cee5.png
https://xpcorp.gama.academy/assets/chat-icon-636ea41b037fb220845b5ad5198adacb4f963885c20db2b044045971769074ee.png
https://xpcorp.gama.academy/assets/document-icon-c7021a6b94d3d8558041562d2f83e3ef2a0de1a1f5a3a1ff88cc3755cab2841b.png
https://xpcorp.gama.academy/assets/videoplayer-icon-487b72ce28fd0f9a2daf36a931087fb6d6bd59363b82606d292323096096ccdd.png


https://xpcorp.gama.academy/brasil.png
https://xpcorp.gama.academy/espanha.png
*/
